[Unit]
Description=Server Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/ulogd_udp_json_exporter --group 1 --metrics 127.0.0.1:{{ ulogd_udp_json_exporter_metrics_port }}
Restart=always
User=0
Group=0
EnvironmentFile=-/etc/default/server

[Install]
WantedBy=multi-user.target